<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <img class="inline-block h-16 w-16 rounded-full mr-2 flex justify-center items-center" src="/assets/img/favicon/favicon-192x192.png" alt="Dorgan's profile picture">
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1">
    {{ site.author.bio }}
  </p>
</div>