<nav class="site-nav">
  <div class="contents | wrapper">
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/resume">About me</a></li>
    </ul>
    <ul role="list">
      <li><a href="/feed.xml">RSS</a></li>

      {% if site.github != "" %}
        <li><a href={{ site.github }}>Github</a></li>
      {% endif %}

      {% if site.linkedin != "" %}
        <li><a href={{ site.linkedin }}>LinkedIn</a></li>
      {% endif %}

      {% if site.twitter != "" %}
        <li><a href={{ site.twitter }}>Twitter</a></li>
      {% endif %}
    </ul>
  </div>
</nav>