@import "../../assets/styles/reset";
// Theming
@import "../../assets/styles/themes/dark";
@import "../../assets/styles/themes/light";
[data-color-mode] {
    color: var(--color-text-primary);
    background-color: var(--color-bg-canvas);
}

:root {
    --size-prose: 65ch;
}

// Globals
@import "../../assets/styles/support/sizes";
@import "../../assets/styles/base";

@media not print {
    a[target="_blank"]:after {
        content: " ↗";
        margin: 0;
    }
}

dl > div {
    break-inside: avoid-column;
}

dt {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

code {
    background: var(--color-bg-secondary);
    color: var(--color-text-secondary);
}

@media print {
    p {
        text-align: justify;
        margin-bottom: 1em;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: get-size("700");
    }

    h2 {
        font-size: get-size("600");
    }
    h3 {
        font-size: get-size("500");
    }
}

/** Icons **/

.icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    display: inline-block;
}

/** Buttons **/

.button.button-clear {
    color: var(--color-text-link);
}

.button:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

/** Navigation **/

nav > .wrapper {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .button {
    margin-bottom: 0;
}

@media print {
    nav {
        display: none;
    }
}

/** About and contact **/
.about-and-contact {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 60rem), print {
    .about-and-contact {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2em;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 3.5em;
}

#contact > address {
    display: flex;
    flex-direction: column;
}

#contact a[target="_blank"] {
    display: inline-flex;
}

#contact > ul {
    list-style: none;
}

#profile-pic {
    display: block;
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

@media (min-width: 40rem) {
    #contact {
        flex-direction: row;
    }
}

@media (min-width: 60rem) {
    #contact {
        flex-direction: column;
    }
}

/** Main content **/

@media (min-width: 60rem) {
    .columns {
        display: grid;
        grid-gap: 2.5em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media print {
    .columns > section > dl {
        columns: 1;
        gap: 2em;
    }
}

.experience-section > dl {
    page-break-after: always;
}

// Utilities

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
@import "../../assets/styles/utilities/flow";
@import "../../assets/styles/utilities/gaps";
@import "../../assets/styles/utilities/pads";
@import "../../assets/styles/utilities/prose";
@import "../../assets/styles/utilities/wrapper";
// Blocks
@import "../../assets/styles/blocks/site-nav";
