@import "milligram";

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.columns {
  display: grid;
  grid-gap: 2em;
}

@media (min-width: 80rem) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

#contact > ul {
  list-style: none;
}

a[target="_blank"]:after {
  content: "↗";
  margin-left: 0.25em;
}
