html {
  --code-bg: #ececec;
}

html.dark {
  --code-bg: #292929;
}

.header-anchor {
  color: grey !important;
  text-decoration: none !important;
}

.prose code {
  background: var(--code-bg);
  border-radius: 2px;
  padding: 0.1em 0.3em;
}

.prose code::before {
  content: "";
}
.prose code::after {
  content: "";
}
